<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/todosLosUsuarios"><span class="glyphicon glyphicon-user"></span> Usuarios</a>
      </li>
      <li>
        <a href="/todosLosIntereses"><span class="glyphicon glyphicon-tag"></span> Intereses</a>
      </li>
      <li>
        <a href="/todosLasCategorias"><span class="glyphicon glyphicon-tags"></span>  Categorias</a>
      </li>
    </ul>
  </div>
</nav>
