<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="./scripts/chosen.css">
  <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>
</head>

 

<script type="text/javascript">



	function agregar(){

		var valores = $('#intereses').val();
		var entro = false;
		if(document.formu.name.value ==""){
			entro = true;
			$('#mensajeErrorNombre').fadeIn("slow");
		}
		if(document.formu.alias.value ==""){
			entro = true;
			$('#mensajeErrorAlias').fadeIn("slow");
		}
		if(document.formu.email.value ==""){
			entro = true;
			$('#mensajeErrorMail').fadeIn("slow");
		}
		if(document.formu.age.value ==""){
			entro = true;
			$('#mensajeErrorEdad').fadeIn("slow");
		}
		if(document.formu.longitude.value ==""){
			entro = true;
			$('#mensajeErrorLongitud').fadeIn("slow");
		}
		if(document.formu.latitude.value ==""){
			entro = true;
			$('#mensajeErrorLatitud').fadeIn("slow");
		}
		if( valores.length == 0){
			entro = true;
			$('#mensajeErrorInteres').fadeIn("slow");
		}
		if(document.querySelector('img').src == ""){
			entro = true;
			$('#mensajeErrorFoto').fadeIn("slow");
		}
		if(entro){
			return;
		}

		var i = [];
		var cont = 0;
		valores.forEach(function(v){
			var aux = v.split("-");
			var value = aux[0];
			var category = aux [1];
			i[cont] = {"value":value, "category":category};
			cont++;
		});
		var name = document.formu.name.value;
		var alias = document.formu.alias.value;
		var email = document.formu.email.value;
		var age = parseFloat(document.formu.age.value);
		var sex = document.formu.sex.value;
		var longitude = parseFloat(document.formu.longitude.value);
		var latitude = parseFloat(document.formu.latitude.value);
		var file    = document.querySelector('input[type=file]').files[0];
	    var reader  = new FileReader();
	    var preview = document.querySelector('img');
	    photo_profile = preview.src;

	    var js = {"user":
	    			{"name":name,
	    			"alias":alias,
	    			"sex":sex,
	    			"email":email,
	    			"age":age,
	    			"photo_profile":photo_profile,
	    			"location":
	    				{"latitude":latitude,
	    				"longitude":longitude},
	    			"interests": i
	    			},
	    			"metadata":
	    				{"version":"0.1"}
	    		};
		$.ajax({
				url: '/users',
				type:'POST',
				async: false,
				data: js,
				dataType: "json",
				success:function(r){
					location.href="/todosLosUsuarios";
				},
				error:function(r){
					alert("Fallo la insercion:" + r.responseText);
				}
			});
	}

	function previewFile() {
	  var preview = document.querySelector('img');
	  var file    = document.querySelector('input[type=file]').files[0];
	  var reader  = new FileReader();
	  reader.addEventListener("load", function () {
	    preview.src = reader.result;
	  }, false);

	  if (file) {
	    reader.readAsDataURL(file);
	  }
	}

	function cambioNombre(){
		$("#mensajeErrorNombre").fadeOut("slow")
	}
	function cambioAlias(){
		$("#mensajeErrorAlias").fadeOut("slow")
	}
	function cambioMail(){
		$("#mensajeErrorMail").fadeOut("slow")
	}
	function cambioEdad(){
		$("#mensajeErrorEdad").fadeOut("slow")
	}
	function cambioLongitud(){
		$("#mensajeErrorLongitud").fadeOut("slow")
	}
	function cambioLatitud(){
		$("#mensajeErrorLatitud").fadeOut("slow")
	}
	function cambioFoto(){
		$("#mensajeErrorFoto").fadeOut("slow")
	}
	function cambioFoto(){
		$("#mensajeErrorInteres").fadeOut("slow")
	}
</script>



<body>

<% include ../partials/navUsuarios.ejs %>


<div class="container">
<h2>Creacion de Usuario</h2>


<ul>
	<div class="table-responsive">
		<div class="table-responsive">
		<form  name="formu" enctype="application/json">
			<label for="name"> Nombre y Apellido:</label>
			<input class="form-control" name="user[name]" oninput="cambioNombre();" id="name"  required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorNombre"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado el nombre</div>
			<label for="alias"> Alias:</label>
			<input class="form-control" name="user[alias]" oninput="cambioAlias();" id="alias" required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorAlias"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado el alias</div>
			<label for="email"> Mail:</label>
			<input class="form-control" name="user[email]" oninput="cambioMail();" id="email"  required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorMail"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado el Mail</div>
			<label for="age"> Edad:</label>
			<input class="form-control" name="user[age]" id="age"  oninput="cambioEdad();" required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorEdad"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado la edad</div>
			<label> Sexo:</label>
			<select class="form-control" name="user[sex]" id="sex">
				<option>H</option>
				<option>M</option>
			</select> <br> 
			<label> Ubicacion </label>
			<input class="form-control" name="user[longitude]" id="longitude" oninput="cambioLongitud();"  placeholder="Longitud"required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorLongitud"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado la latitud</div>
			<input class="form-control" name="user[latitude]" id="latitude"  oninput="cambioLatitud();" placeholder="Latitud" required> <br>
			<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorLatitud"> <span class="glyphicon glyphicon-remove-sign"></span> No fue ingresado la longitud</div>
			<label> Foto de perfil</label>
				<input type="file" id="photo_file" class="form-control input-sm" required onchange="previewFile();cambioFoto();"><br>
				<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorFoto"> <span class="glyphicon glyphicon-remove-sign"></span> No fue seleccionado ninguna foto </div>
				<img src="" height="200" alt="Imagen seleccionada..">
			<br>
			<label> Intereses: </label> <br>
			<select data-placeholder="Seleccionar Intereses" id="intereses" style="width:350px;" required class="chosen-select" multiple tabindex="7">
            <option value=""></option>
            <% categorias.forEach(function(r){ %>
            	<optgroup label=" <%= r.name %>">
            		<% intereses.forEach(function(i){ %>
            			<% if(i.category == r.name){ %>
            				<option value="<%= i.value+"-"+i.category %>"> <%= i.value %></option>
            			<% } %>
            		<% }); %>
            	</optgroup>
            <% }); %>
          	</select>
          	<div class="alert alert-danger" role="alert" style="display:none;" id="mensajeErrorInteres"> <span class="glyphicon glyphicon-remove-sign"></span> No fue seleccionado ningun interes </div>
          	<br>
          	<br>
			<input class="btn btn-default" type="button" onclick="agregar()" value="Crear Usuario">
		</form>
		</div>
	</div>
</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="./scripts/chosen.jquery.js" type="text/javascript"></script>
<script src="./scripts/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

</body>
</html>
