<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="./scripts/chosen.css">
  <style type="text/css" media="all">
    /* fix rtl for demo */
    .chosen-rtl .chosen-drop { left: -9000px; }
  </style>
</head>

 

<script type="text/javascript">
	function agregar(){
		alert("apreto");
	}
</script>



<body>

<% include ../partials/navUsuarios.ejs %>


<div class="container">
<h2>Creacion de Usuario</h2>


<ul>
	<div class="table-responsive">
		<div class="table-responsive">
		<form  name="formu" enctype="application/json">
			<label for="name"> Nombre y Apellido:</label>
			<input class="form-control" name="user[name]" id="name" value="" required> <br>
			<label for="alias"> Alias:</label>
			<input class="form-control" name="user[alias]" id="alias" value="" required> <br>
			<label for="email"> Mail:</label>
			<input class="form-control" name="user[email]" id="email" value="" required> <br>
			<label for="age"> Edad:</label>
			<input class="form-control" name="user[age]" id="age" value="" required> <br>
			<label> Sexo:</label>
			<select class="form-control" name="user[sex]">
				<option>H</option>
				<option>M</option>
			</select> <br> 
			<label> Ubicacion </label>
			<input class="form-control" name="user[longitude]" id="longitude" value="" placeholder="Longitud"required> <br>
			<input class="form-control" name="user[latitude]" id="latitude" value="" placeholder="Latitud" required> <br>
			<label> Foto de perfil</label>
				<input id="photo_file" class="form-control input-sm" type="file" />
				<img id="photo_to_send" src="" style="display: none" />
			<br>
			<label> Intereses: </label> <br>
			<select data-placeholder="Seleccionar Intereses" style="width:350px;" class="chosen-select" multiple tabindex="7">
            <option value=""></option>
            <% categorias.forEach(function(r){ %>
            	<optgroup label=" <%= r.name %>">
            		<% intereses.forEach(function(i){ %>
            			<% if(i.category == r.name){ %>
            				<option> <%= i.value %></option>
            			<% } %>
            		<% }); %>
            	</optgroup>
            <% }); %>
          	</select>
          	<br>
          	<br>
			<input class="btn btn-default" type="button" onclick="agregar()" value="Crear Usuarios">
		</form>
		</div>
	</div>
</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<script src="./scripts/chosen.jquery.js" type="text/javascript"></script>
<script src="./scripts/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

</body>
</html>
