<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<style>
.bg-1{
	background-color: #23DAE7;
	color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}
</style>

<body>

<% include ../partials/navHome.ejs %>

<div class="container-fluid bg-1 text-center">
	<img src="./iconMaterial4.png">
  <br>
  <img src="./logo.png" width="25%" height="25%">
</div>
<div class="container-fluid bg-2 text-center" style="font-size: 175%">
	<h1> ¿Que es Matchapp? </h1>
	<li> Encuentre Pareja de forma sencilla y facil </li>
	<li> Elije a las personas indicadas y rechaza al resto </li>
	<li> Matchapp hará el resto </li>
	<!--<li><a href="/todosLosUsuarios">Lista de Usuarios</a> </li>
	<li><a href="/todosLosIntereses">Lista de intereses</a> </li>
	<li><a href="/todosLasCategorias">Lista de Categorias</a> </li>-->
</div>
<div class="container-fluid bg-3 text-center"> 
  <h3>Matchapp en acción</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Abrir la aplicacion</p>
      <img src="./home.jpg" alt="Home" width="300">
    </div>
    <div class="col-sm-4">
      <p>LLenar algunos simples datos</p>
      <img src="./registro.jpg" alt="Registro" width="300">
    </div>
    <div class="col-sm-4"> 
      <p>¡Ya estas listo para matchear!</p>
      <img src="./pantalla.jpg" alt="Candidato" width="300">
    </div>
  </div>
</div>

<footer class="container-fluid bg-4 text-center">
  <p>MatchApp© page made by Brasburg, Concilio, Diaz, Otero</p>
</footer>

</body>
</html>
