<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>


<body>

<% include ../partials/navNoConeccion.ejs %>


<div class="container">
	<h2> No hay coneccion a la base de datos </h2>
	
</div>

</body>
</html>
